<ion-content *ngIf="!user">

    <form (ngSubmit)="login('email')">
        <ion-item>
            <ion-input placeholder="Email" type="text" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>
        <ion-item text-center>
            <button ion-button block type="submit">Log in</button>
        </ion-item>
    </form>
    <ion-item>
        <span>OR</span>
    </ion-item>
    <ion-item>
        <button ion-button block (click)="goToRegister()">Create account</button>
    </ion-item>
</ion-content>

<ion-content *ngIf="user">
    <liked></liked>
</ion-content>
