<ion-content *ngIf="user">
    <ion-grid>
        <ion-row>
            <ion-col col-12 col-md-6>
                <user></user>
            </ion-col>
            <ion-col col-12 col-md-6>

                <ion-list>
                    <ion-item-divider>
                        <ion-icon name="log-out" item-start></ion-icon>
                        <h2>Logout</h2>
                    </ion-item-divider>
                    <ion-item>
                        <button ion-button block (click)="logout()">
                            Logout
                        </button>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12 col-md-6>
                <connect-accounts></connect-accounts>
            </ion-col>
            <ion-col col-12 col-md-6>
                <invite></invite>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col col-12 col-md-6>
                <add-name></add-name>
            </ion-col>

            <ion-col col-12 col-md-6>

            </ion-col>
        </ion-row>


    </ion-grid>
</ion-content>

<ion-content *ngIf="!user">

    <form (ngSubmit)="login('email')">
        <ion-item>
            <ion-input placeholder="Email" type="text" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Password" type="password" [(ngModel)]="account.password"
                       name="password"></ion-input>
        </ion-item>
        <ion-item text-center>
            <button ion-button block type="submit">Log in</button>
        </ion-item>
    </form>
    <ion-item>
        <span>OR</span>
    </ion-item>
    <ion-item>
        <button ion-button block (click)="goToRegister()">Create account</button>
    </ion-item>
</ion-content>
