.balloon {
  font-size: 40px;
  display: block;
  padding: .8em 0em;
  position: relative;
  border-radius: .4em;
  background: palegoldenrod;
  text-align: center;
  margin: 0 auto;
  max-width: 50vw;
  min-width: 252px;
  overflow: visible;
  box-shadow: none;
  cursor: move;
  .item {
    background: transparent;
    text-align: center;
    font-size: 30px;
    font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
    ion-label {
      white-space: normal;
    }
  }
}

.balloon:before {
  content: "";
  position: absolute;
  bottom: -.4em;
  right: auto;
  left: 40%;
  top: auto;
  display: block;
  background: transparent;
  border: .4em solid transparent;
  border-top: .4em solid palegoldenrod;
  border-right: .4em solid palegoldenrod;
}

div.kawaii {
  position: relative;
  z-index: 99;
  border-radius: 4em;
  background: #A8B3ED;
  height: 20em;
  width: 18em;
  margin: 2em auto 0;

  &:focus {
    * {
      animation: .2s linear 0s 3 wiggle;
    }
    .eyes .eye {
      animation: none;
      &:before {
        content: '';
        position: absolute;
        top: .8em;
        height: 1.3em;
        width: 1.3em;
        background: #A8B3ED;
        border-radius: 50%;
      }
    }
  }
  &.match {
    animation: .8s linear 0s infinite match;
    .eyes .eye {
      animation: none;
      &:before {
        content: '';
        position: absolute;
        top: .8em;
        height: 1.3em;
        width: 1.3em;
        background: #A8B3ED;
        border-radius: 50%;
      }
    }

    .mouth {
      height: 1.7em;
    }
  }
}

div.kawaii .eyes .eye {
  position: absolute;
  top: 6em;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50%;
  animation: 8s linear 0s infinite squint;
  transform-origin: 50% 50%;
}

div.kawaii .eyes .eye-left {
  left: 4em;
}

div.kawaii .eyes .eye-right {
  right: 4em;
}

div.kawaii .mouth {
  position: absolute;
  top: 9em;
  left: calc(50% - 1.5em);
  height: 1.3em;
  width: 3em;
  background: black;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.zoom-pop {
  animation: zoom-pop ease-in-out .4s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
}

.wiggle {
  animation: wiggle linear 1s;
  animation-iteration-count: 2;
  transform-origin: 50% 50%;
  position: relative;
  z-index: 100;
}

.zoom-pop-late {
  animation: zoom-pop ease-in-out .8s;
}

@keyframes zoom-pop {
  0% {
    opacity: 0.0;
    transform: scale(0.00);
  }
  62% {
    opacity: 0.8;
    transform: scale(1.20);
  }
  100% {
    opacity: 1;
    transform: scale(1.00);
  }
}

@keyframes wiggle {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  25% {
    opacity: 1;
    transform: translateX(30px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  75% {
    opacity: 1;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes squint {
  0% {
    transform: rotateX(0deg);
  }

  98% {
    transform: rotateX(0deg);
  }
  99% {
    transform: rotateX(76deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes match {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes orbit {
  0% {
    opacity: 1;
    transform: translateX(0) scale(1.2);
    z-index: 1000;
  }
  25% {
    opacity: .9;
    transform: translateX(-300px) scale(1);
    z-index: 1000;
  }
  50% {
    opacity: 0;
    transform: translateX(0) scale(.8);
    z-index: 0;
  }
  75% {
    opacity: .9;
    transform: translateX(300px) scale(1);
    z-index: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1.2);
    z-index: 1000;
  }
}