<ion-grid>
    <ion-row>
        <ion-col col-12 col-md-6 push-md-3 col-lg-4 push-lg-4>
            <ion-list>
                <ion-list-header>Create account</ion-list-header>
                <form (ngSubmit)="register()">
                    <ion-item>
                        <ion-input placeholder="Email" type="text" [(ngModel)]="account.email" name="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input placeholder="Password" type="password" [(ngModel)]="account.password"
                                   name="password"></ion-input>
                    </ion-item>

                    <ion-list radio-group [(ngModel)]="account.local" name="gender">
                        <ion-item>
                            <ion-label>Popular names in the Netherlands</ion-label>
                            <ion-radio value="nl"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>Popular names in the USA</ion-label>
                            <ion-radio value="us"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>Popular names in the UK</ion-label>
                            <ion-radio value="uk"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>Popular names in France</ion-label>
                            <ion-radio value="fr"></ion-radio>
                        </ion-item>

                        <ion-item>
                            <ion-label>Popular names in Germany</ion-label>
                            <ion-radio value="de"></ion-radio>
                        </ion-item>
                    </ion-list>

                    <ion-item>
                        <button ion-button block type="submit">Create account</button>
                    </ion-item>
                </form>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>

